.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999999;
    /* Above modal (99999) - Christmas effects always on top! */
    overflow: hidden;
}

.sideLeft {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

.sideRight {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.bulb {
    animation: flash 2s infinite alternate;
}

@keyframes flash {

    0%,
    100% {
        filter: drop-shadow(0 0 2px var(--bulb-color)) brightness(1);
        opacity: 0.6;
    }

    50% {
        filter: drop-shadow(0 0 10px var(--bulb-color)) brightness(1.5);
        opacity: 1;
    }
}