/* Utility Classes */
/* TODO: Add utility classes for common patterns */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

/* TODO: Add more utility classes */
