/* Layout Components Styles */
/* TODO: Add styles for Header, Footer, Sidebar */

.header {
  /* Add header styles */
}

.footer {
  /* Add footer styles */
}

.sidebar {
  /* Add sidebar styles */
}
